{% extends 'base/main.html' %}


{% block content %}

<div class="book_reviews">
    <div id="description" style="cursor: auto">
        <header>
            {{ book.title }}
            <br>
            <i>{{ book.author }}</i>
        </header>
        <article>
            {{ book.summary|slice:":10000" }}
        </article>
        <article>
            <div><br><i>Publication date</i>: {{ book.pub_date_book }}</div>
            <div><i>Number of reviews</i>: {{ book.numbers_of_review }}</div>
            <div><i>Rating</i>: {{ book.stars }}</div>
        </article>
    </div>
    <div>
        <a href="{% url 'add_review' book.id %}"><b>Add review</b></a>
    </div>
    {% for review in reviews %}
    <div class="review ">
        <div class="review_title">{{ review.title }}</div>
        <div style="text-align: justify">{{ review.content }}</div>
        <div style="text-align: left"><i>User: {{ review.user }}</i></div>
        <div style="text-align: left"><i>{{ review.pub_date }}</i></div>
        {% if request.user == review.user %}
            <div style="display: grid; justify-content: center; padding: 10px; grid-template-columns: 50% 50%">
                <div class="submit-button">
                    <button class="small" onclick="location.href='{% url "delete_review" review.id%}'" type="submit">Delete</button>
                </div>
                <div class="submit-button">
                    <button class="small" onclick="location.href='{% url "update_review" review.id%}'" type="submit">Update</button>
                </div>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}