{% extends 'base/main.html' %}

{% block content %}
    <div class="center" style="vertical-align: top">
        <h1> Add new review to <i>{{ book}}</i></h1>
        <form action="" method="post">
            {% csrf_token %}
        {% for field in form %}
            <div class="basic-form">
            {{ field.label_tag }}
            {{ field }}
            </div>
        {% endfor %}
        <div class="submit-button">
            <input type="submit" value="Submit">
        </div>
        </form>
    </div>
{% endblock %}