{% extends 'base/main.html' %}


{% block content %}

	<div class="center">
  	 	<h1>Reset Password</h1>
{#		<hr>#}

        <form method="POST">
            {% csrf_token %}
        <p>Forgotten your password?<br> Don't worry! <br>Enter your email address below, and we'll email instructions for setting a new one.</p>
                {% for field in password_reset_form %}
                    <div class="text-filed">
                        {{ field.form }}
                    </div>
                {% endfor %}
            <div class="submit-button">
                <button type="submit">Send email</button>
            </div>
        </form>
  	</div> 

{% endblock %}