{% extends "base/main.html" %}

{% block content %}

  
    <div class="center">
	    <h1>Password Reset Confirm</h1>


        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="basic-form">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small >{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        <div class="submit-button">
            <button type="submit">Reset password</button>
        </div>
        </form>
    </div>

{% endblock %}